---
interface Props {
	name: string;
  users: any;
  tasks: any;
}

const { name, users, tasks } = Astro.props;

import Layout from "./Layout.astro";
import Scoreboard from "../components/Scoreboard.svelte";
---

<Layout title={name + " Ranking"}>
  <main class="w-full text-white">
    <div class="min-h-screen flex flex-col text-center" id="greet">
      <div class="mx-auto w-full flex-1 px-4">
        <div
          class="flex justify-center items-center flex-col text-center pt-20 text-6xl font-bold"
        >
          <span>{name}<span class="text-orange-500"> Ranking</span></span>
        </div>
        <div class="overflow-x-auto py-16">
          <Scoreboard users={users} tasks={tasks} client:load />
        </div>
      </div>
      <div class="mb-5">
        <p class="text-xl">
          Made with ❤️ by <a href="https://github.com/gean-dev">Gean Dev</a>
        </p>
      </div>
    </div>
  </main>
</Layout>
